header h1 {
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	margin-top:1em;
	margin-bottom:1em;

}
p.sections {
	font-family: 'Raleway';
	font-weight: bold;
	color: #4ac6ff;
	text-transform: uppercase;
	margin-left: 50px;
}

section div#recents.row{
	padding-bottom: 70px;
	padding-top: 50px;
	padding-left: 400px;
}

section div#aleatoire.row{
	padding-bottom: 70px;
	padding-top: 50px;
	padding-left: 400px;
}


a {
	background-color: red;
	color:white;
	text-decoration:none;
	font-family:'Raleway';
	padding: 20px 20px 20px 20px;
	border-radius:5px;
	transition: 0.5s ease;
	margin: 0 auto;
	text-align:center;
}

a:hover {
	background-color:#ea5f4d;
	color:white;
	text-decoration:none;
	font-family:'Raleway';
	transition: 0.5s ease;
	padding: 20px 20px 20px 20px;
	margin: 0 auto;
	text-align:center;
}

img.imageavatar {
	width: 70%;
}

p.nom {
	font-family: 'Raleway';
	color: #4ac6ff;
	margin-left:35px;
}

